<p id="notice"><%= notice %></p>

<div class="show-view">
	<p>
  	<span>Planet names:</span>
  	<%= @name.planetNames %>
	</p>
</div>

<div class="show-view">
	<p>
	  <span>Moon names:</span>
	  <%= @name.moonNames %>
	</p>
</div>

<div class="show-view">
	<p>
	  <span>Star names:</span>
	  <%= @name.starNames %>
	</p>
</div>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
